/* - - - - header - - - - */

#header {
  width: 100%;
  height: 139px;
  text-align: left;
  margin: 0 auto;
}

/* search */

#search {
  position: relative;
  background-color: $white;
  text-align: right;  
  width: 1000px;
  margin: 0 auto; 
  height: 44px;
  border-right: solid 1px $gray;
  border-left: solid 1px $gray;
}
#search input[type="text"]  {
  margin: 0;
  padding: 0;
  position: absolute;
  border-right: none;
  right: 33px;
  top: 11px;
  height: 20px;
}
#search input[type="image"] {
  position: absolute;
  right: 11px;
  top: 11px;
  padding: 0;
  margin: 0;
}

/* menu_bar */

#menu_bar {
  background-color: $black;
	width: 1000px;
  height: 95px;
  margin: 0 auto;
  border-right: solid 1px $gray;
  border-left: solid 1px $gray;
	position: relative;
}

#logo img {
  position: relative;
  top: -32px;
  float: left;
}

/* menu */

#menu {
  position: absolute;
  bottom: 0;
  right: 150px;
}
ul#menu, #menu ul, #secondary-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul#menu a {
  font-size: 1.25em;
  display: block;
  color: $white;
  text-decoration: none;
  padding: .5em 1em;
}
ul#menu a:hover, ul#menu li:hover > a {
  background-color: $medium-blue;
}
ul#menu li  {
  float: left;
  position: relative;
}
ul#menu li ul {
  display: none;
  position: absolute;
  top: 2em;
  border-top: solid 1px $white;
  left: 0;
  color: #fff;
  background-color: $dark-blue;
  z-index: 99;
}
ul#menu li > ul {
  top: auto;
  left: auto;
}
ul#menu a.selected  {
  background-color: $dark-blue;
}
ul#menu li:hover ul {
  display: block;
}
ul#menu li li {
  display: block;
  width: 100%;
}
ul#menu li li:first-child {
  border-top: none;
}
ul#menu li li a {
  display: block;
  font-size: .8em;
  padding: 8px;
  color: $white;
  border-top: 1px dotted $light-blue;
}
ul#menu li li a.selected  {
  cursor: default;
  color: #ccc;
}

/* secondary menu */

#secondary-menu {
  color: $white;
  position: absolute;
  bottom: .5em;
  right: 1em;
}
#secondary-menu a {
  font-size: .75em;
  color: $white;
  text-decoration: none;
  margin: 0 10px;
  padding: 3px 1px;
}
#secondary-menu a:hover {
  color: $medium-blue;
}

#secondary-menu a.selected  {
  background-color: #3371bd;
}

#secondary-menu a.selected:hover  {
  color: #fff;
}

/* - - - - body - - - - */

.body {
  width: 1000px;
  margin: 0 auto;
  border: solid 1px $gray;
  border-top: none;
  min-height: 400px;    
  text-align: left;
  padding-top: 2em;
  font-size: .8em;
}

.columns  {
  margin: 0 2em;
}

.columns .left_column {
  margin-right: 324px;
}

/* left column */

.left_column h1 {
  border: 1px solid $dark-blue;
  border-width: 4px 0 1px 0;
  color: $dark-blue;
  font-size: 1.3em;
  padding: .1em 0 .3em 0;
}
.left_column h1 a {
  color: $dark-blue;
}

/* right column */

.columns .right_column  {
  width: 300px;
  float: right;
}

/* right box */

.right_box .box {
  background-color: #f7f4eb;
  padding: 12px;
  text-align: left;
}

.right_box .box h2  {
  float: left;
  height: 32px;
  font-size: 1.2em;
  line-height: 32px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.right_box .box .links  {
  margin-top: 6px;
  color: #4cade2;
}
.right_box .box .links a:first-child  {
  margin-left: 0;
}
.right_box .box .more {
  line-height: 32px;
  height: 32px;
  float: right;
  font-style: italic;
}
.right_box p {
  text-align: left;
  clear: both;
  border-top: dotted 1px #a3a2a2;
  background-color: #fff;
  color: #7d7b7b;
  padding: 1em;
  line-height: 1.5em;
}
.right_box .box:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;  
  clear: both; 
  visibility:hidden;
}
.right_box .box+.box  {
  margin-top: 1em;
}
.right_box .posts {
  text-align: left;
}
.right_box .posts .post {
  clear: both;
  border-top: dotted 1px #a3a2a2;
  background-color: #fff;
  color: #7d7b7b;
  padding: 6px;
  line-height: 1.5em;
}
.right_box .posts .post:first-child {
  border-top: none;
}
.right_box  {
  padding: 3px;
  background-color: #a19f9e;
  text-align: center;
}

/* login form */

.right_box #new_user_session {
  position: relative;
}
.right_box #new_user_session div {
  position: relative;
  float: left;
  margin: 0 0 .4em 0;
}
.right_box #new_user_session #user_session_username, .right_box #new_user_session #user_session_password {
  width: 192px;
  padding-left: .3em;
}
.right_box #new_user_session #remember_me {
  margin: 0;
}
.right_box #new_user_session #remember_me label {
  display: inline;
}
.right_box #new_user_session label.overlabel-apply {
  position: absolute;
  top: .3em;
  left: .5em;
  z-index: 1;
  color: $gray;
}
.right_box #new_user_session label.focus {
  color: $light-gray;
}
.right_box #new_user_session #user_session_submit {
  float: right;
  position: relative;
  top: -33px;
  padding: .3em .5em;
}

.right_box #join {
  clear: both;
  display: block;
}

/* right features */

#right_features a {
  display: block;
  margin: .6em 0;
  text-align: left;
  padding-top: .6em;
  padding-bottom: .6em;
}

/* - - - - footer - - - - */

#footer {
  clear: both;
  width: 100%;
  text-align: center;
  padding: .5em 0 .5em 0;
  border-top: 1px solid silver;
  margin: 1em 0 3px 0;
}