html, body {
	background-color: #fff;
	color: #333;
	padding: 0;
	margin: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
textarea {
	height: 200px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#head {
	background-color: #f0f0f0;
	border: 1px solid black;
}
#head h1 {
	float: left;
	margin: .5em .5em 1em .5em;
}
#user_nav {
	float: right;
	margin: .5em;
}
#global_nav {
	clear: both;
	width: 958px;
	padding: 0;
}
#global_nav li {
	list-style-type: none;
  float: left;
	width: 158px;
	border-collapse: collapse;
	border: 1px solid black;
	border-width: 1px 1px 0 0;
}
#global_nav li.active {
  background-color: silver;
	font-weight: bold;
}
#global_nav li.last {
  width: 163px;
  border-right-width: 0;
}
#global_nav li a {
	display: block;
	padding: .5em 0 .5em 0;
	text-align: center;
}


#content {
	border: 1px solid black;
  padding: 1em;
}

#breadcrumb_nav {
	padding: 0;
	margin: 0;
}
#breadcrumb_nav li {
	display: inline;
}

.notice {
	background-color: #FFFFD3;
	padding: .5em;
}

/* reusable generic classes */

.reduced {
	font-size: .7em;
	color: gray;
}
.right {
	float: right;
}

#content h1 {
	margin-bottom: 2em;
}

.blogpost {
	border-bottom: 1px solid silver;
	margin-bottom: .5em;
}


#map_canvas {
	height: 400px;
}
.specify_coordinates_mode {
	border: 2px solid red;
}
#specify_coordinates_message {
  background-color: yellow;
	color: red;
	font-weight: bold;
	text-align: center;
	border: 2px solid red;
}

