a	{
	color: #4cade2;
}

body	{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: verdana, sans-serif !important;
	font-size: 100% !important;
}
.body	{
	width: 1000px;
	margin: 0 auto;
	border: solid 1px #333;
	border-top: none;
	min-height: 400px;		
	text-align: left;
	padding-top: 24px;
	font-size: .8em;
}

.columns	{
	margin: 0 24px;
}

.columns .left_column	{
	margin-right: 324px;
}

.columns .right_column	{
	width: 300px;
	float: right;
}

.featured a	{
	text-decoration: none;
	display: block;
	margin: 6px 0;
	height: 44px;
	line-height: 44px;
	background: url('../images/bluebutton.jpg') repeat-x 0% 50%;
	padding: 0 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff;
	font-size: 1.25em;
}

.featured a:hover	{
	background-image: url('../images/greybutton.jpg');
}

.footer	{
	clear: both;
	width: 100%;
	text-align: center;
	margin-bottom: 3px;
}

.header	{
	width: 100%;
	height: 200px;
	text-align: left;
	margin: 0 auto;
}

.header_bar	{
	width: 100%;
	height: 156px;
	background-color: #000;
	position: relative;
}

input[type="text"],input[type="password"]	{
	border: solid 1px #999;
	outline: none;
	height: 22px;
}

input[type="submit"]	{
	background: url('../images/bluebutton.jpg') repeat-x 0% 50%;
	border: none;
	padding: 3px 6px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff;
}

label	{
	display: block;
}

.menu_bar	{
	width: 1000px;
	height: 156px;
	background-color: #000;
	position: relative;
	margin: 0 auto;
	border-right: solid 1px #333;
	border-left: solid 1px #333;	
}

img#logo	{
	position: absolute;
	left: 0;
	top: -32px;
}

/* Menu Styles */
.menu	{
	position: absolute;
	bottom: 0;
	right: 194px;
}

.right_box .box	{
	background-color: #f7f4eb;
	padding: 12px;
	text-align: left;
}

.right_box .box h2	{
	float: left;
	height: 32px;
	font-size: 1.2em;
	line-height: 32px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.right_box .box .links	{
	margin-top: 6px;
	color: #4cade2;
}

.right_box .box .links a:first-child	{
	margin-left: 0;
}

.right_box .box .more	{
	line-height: 32px;
	height: 32px;
	float: right;
	font-style: italic;
}

.right_box .box:after{
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}

.right_box .box+.box	{
	margin-top: 1em;
}

.right_box .posts	{
	text-align: left;
}

.right_box .posts .post	{
	clear: both;
	border-top: dotted 1px #a3a2a2;
	background-color: #fff;
	color: #7d7b7b;
	padding: 6px;
	line-height: 1.5em;
}

.right_box .posts .post:first-child	{
	border-top: none;
}

ul.menu, .menu ul, .secondary_menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.menu a	{
	font-size: 1.25em;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 8px 24px 8px 8px;
}
ul.menu a:hover	{
	background-color: #1FAADC;
}
ul.menu li	{
	float: left;
	position: relative;
}
ul.menu li ul	{
	display: none;
	position: absolute;
	top: 2em;
	border-top: solid 1px #fff;
	left: 0;
	color: #fff;
	background-color: #1072ba;
}
ul.menu li > ul	{
	top: auto;
	left: auto;
}
ul.menu li:hover	{
	background-color: #1072ba;
}
ul.menu li:hover ul, ul.menu li.selected ul	{
	display: block;
}
ul.menu li li	{
	display: block;
	width: 100%;
	color: #fff;
	border-top: 1px dotted #1faadc;
}
ul.menu li li:first-child	{
	border-top: none;
}
ul.menu li li a	{
	display: block;
	font-size: .8em;
	padding: 8px;
}

p	{
	margin: 0 0 24px 0;
}

.right_box	{
	padding: 3px;
	background-color: #a19f9e;
	text-align: center;
}

.secondary_menu	{
	color: #fff;
	width: 194px;
	position: absolute;
	bottom: 8px;
	right: 0;
}
.secondary_menu a	{
	font-size: .75em;
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	padding: 3px 1px;
}
.secondary_menu a:hover	{
	color: #1FAADC;
}

.secondary_menu a#selected	{
	background-color: #3371bd;
}

.secondary_menu a#selected:hover	{
	color: #fff;
}

.search	{
	position: relative;
	background-color: #fff;
	text-align: right;	
	width: 1000px;
	margin: 0 auto;	
	height: 44px;
	border-right: solid 1px #333;
	border-left: solid 1px #333;
}

.search input[type="text"]	{
	margin: 0;
	padding: 0;
	position: absolute;
	border-right: none;
	right: 33px;
	top: 11px;
	height: 20px;
}

.search input[type="image"]	{
	position: absolute;
	right: 11px;
	top: 11px;
	padding: 0;
	margin: 0;
}
