a	{
	color: #4cade2;
}

body	{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: verdana, sans-serif !important;
	font-size: 100% !important;
}
img {
	border: 0;
}
p, li, span {
	line-height: 150%;
}

.body	{
	width: 1000px;
	margin: 0 auto;
	border: solid 1px #333;
	border-top: none;
	min-height: 400px;		
	text-align: left;
	padding-top: 24px;
	font-size: .8em;
}

.columns	{
	margin: 0 24px;
}

.columns .left_column	{
	margin-right: 324px;
}

.columns .right_column	{
	width: 300px;
	float: right;
}

#featured a {
	display: block;
	margin: .6em 0;
	text-align: left;
	padding-top: .6em;
	padding-bottom: .6em;
}

.footer	{
	clear: both;
	width: 100%;
	text-align: center;
	padding: .5em 0 .5em 0;
	border-top: 1px solid silver;
	margin: 1em 0 3px 0;
}

.header	{
	width: 100%;
	height: 200px;
	text-align: left;
	margin: 0 auto;
}

.header_bar	{
	width: 100%;
	height: 156px;
	background-color: #000;
	position: relative;
}

input[type="text"],input[type="password"]	{
	border: solid 1px #999;
	outline: none;
	height: 22px;
}

label	{
	display: block;
}

.menu_bar	{
	width: 1000px;
	height: 156px;
	background-color: #000;
	position: relative;
	margin: 0 auto;
	border-right: solid 1px #333;
	border-left: solid 1px #333;	
}

img#logo	{
	position: absolute;
	left: 0;
	top: -32px;
}

/* Menu Styles */
.menu	{
	position: absolute;
	bottom: 0;
	right: 194px;
}

.right_box .box	{
	background-color: #f7f4eb;
	padding: 12px;
	text-align: left;
}

.right_box .box h2	{
	float: left;
	height: 32px;
	font-size: 1.2em;
	line-height: 32px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.right_box .box .links	{
	margin-top: 6px;
	color: #4cade2;
}

.right_box .box .links a:first-child	{
	margin-left: 0;
}

.right_box .box .more	{
	line-height: 32px;
	height: 32px;
	float: right;
	font-style: italic;
}

.right_box p {
	text-align: left;
  clear: both;
  border-top: dotted 1px #a3a2a2;
  background-color: #fff;
  color: #7d7b7b;
  padding: 1em;
  line-height: 1.5em;
}

.right_box .box:after{
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}

.right_box .box+.box	{
	margin-top: 1em;
}

.right_box .posts	{
	text-align: left;
}

.right_box .posts .post	{
	clear: both;
	border-top: dotted 1px #a3a2a2;
	background-color: #fff;
	color: #7d7b7b;
	padding: 6px;
	line-height: 1.5em;
}

.right_box .posts .post:first-child	{
	border-top: none;
}

ul.menu, .menu ul, .secondary_menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.menu a	{
	font-size: 1.25em;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 8px 24px 8px 8px;
}
ul.menu a:hover, ul.menu li:hover > a	{
	background-color: #1FAADC;
}
ul.menu li	{
	float: left;
	position: relative;
}
ul.menu li ul	{
	display: none;
	position: absolute;
	top: 2em;
	border-top: solid 1px #fff;
	left: 0;
	color: #fff;
	background-color: #1072ba;
	z-index: 99;
}
ul.menu li > ul	{
	top: auto;
	left: auto;
}
ul.menu a.selected	{
	background-color: #1072ba;
}
ul.menu li:hover ul	{
	display: block;
}
ul.menu li li	{
	display: block;
	width: 100%;
}
ul.menu li li:first-child	{
	border-top: none;
}
ul.menu li li a	{
	display: block;
	font-size: .8em;
	padding: 8px;
	color: #fff;
	border-top: 1px dotted #1faadc;	
}
ul.menu li li a.selected	{
	cursor: default;
	color: #ccc;
}

p	{
	margin: 0 0 24px 0;
}

.right_box	{
	padding: 3px;
	background-color: #a19f9e;
	text-align: center;
}

.secondary_menu	{
	color: #fff;
	width: 194px;
	position: absolute;
	bottom: 8px;
	right: 0;
}
.secondary_menu a	{
	font-size: .75em;
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	padding: 3px 1px;
}
.secondary_menu a:hover	{
	color: #1FAADC;
}

.secondary_menu a.selected	{
	background-color: #3371bd;
}

.secondary_menu a.selected:hover	{
	color: #fff;
}

.search	{
	position: relative;
	background-color: #fff;
	text-align: right;	
	width: 1000px;
	margin: 0 auto;	
	height: 44px;
	border-right: solid 1px #333;
	border-left: solid 1px #333;
}

.search input[type="text"]	{
	margin: 0;
	padding: 0;
	position: absolute;
	border-right: none;
	right: 33px;
	top: 11px;
	height: 20px;
}

.search input[type="image"]	{
	position: absolute;
	right: 11px;
	top: 11px;
	padding: 0;
	margin: 0;
}

/* login form */

.right_box #new_user_session {
  position: relative;
}
.right_box #new_user_session div {
  position: relative;
  float: left;
	margin: 0 0 .4em 0;
}
.right_box #new_user_session #user_session_username, .right_box #new_user_session #user_session_password {
  width: 192px;
	padding-left: .3em;
}
.right_box #new_user_session #remember_me {
  margin: 0;
}
.right_box #new_user_session #remember_me label {
  display: inline;
}
.right_box #new_user_session label.overlabel-apply {
	position: absolute;
	top: .3em;
  left: .5em;
  z-index: 1;
  color: #999;
}
.right_box #new_user_session label.focus {
  color: #ccc;
}
.right_box #new_user_session #user_session_submit {
  float: right;
	position: relative;
	top: -33px;
	padding: .3em .5em;
}

.right_box #join {
	clear: both;
	display: block;
}


.left_column h1 {
	border: 1px solid #1072BA;
	border-width: 4px 0 1px 0;
	color: #1072BA;
	font-size: 1.3em;
	padding: .1em 0 .3em 0;
}
.left_column h1 a {
  color: #1072BA;
}



/* /info/index */

#featured_locations {
	background-color: #F7F4EB;
	width: 952px;
	padding: 0 24px;
}
#featured_locations h2 {
  border-bottom: 1px solid black;
	padding: .5em;
}
#featured_locations #map_canvas, #featured_locations ul {
	float: left;
}
#featured_locations #map_canvas {
	width: 448px;
  border: 1px solid black;
}
#featured_locations ul {
  padding: 0;
	margin: 0;
  list-style-type: none;
	width: 480px; /* 502px - padding-left */
	padding: 0 0 0 22px;
}
#featured_locations li {
  border-bottom: 1px solid #999999;
	margin-bottom: .5em;
	padding-bottom: .5em;
}
#featured_locations li.last {
  border: 0;
	padding-top: .5em;
}
#featured_locations li.last a {
  display: block;
}


/* /locations */

#add-new-location {
	float: right;
}

.location-list {
	padding: 0;
  margin: 0;
  list-style-type: none;
}
.location-list li {
  border-bottom: 1px solid #999999;
  margin-bottom: .5em;
  padding-bottom: .5em;
}
.location-list span.right {
  float: right;
  text-align: right;
}

/* /locations/index */

#locations_index .location-list {
  clear: both;
}
/* /locations/1/show */

#add-new-section {
	float: right;
}

