<div id="header">
  <div id="search">
    <form action="/locations/search" method="get">
      <input type="text" name="q" />
      <input type="image" src="/images/search.gif" width="22px" height="22px" alt="Search" class="search_button" />
    </form>
  </div>

  <div id="menu_bar">
  	<%= link_to image_tag("logo.jpg"), root_path, :id => 'logo' %>
    <%= render :partial => 'shared/menu' %>
  </div>
</div>