<h1>Contact Us</h1>

<h2>Media Inquiries</h2>

<p>For press inquiries, please get in touch with our press liaison ...</p>

<h2>Local Community</h2>

<p>Local businesses and university representatives, please contact our community liaison ...</p>

<h2>Test Users</h2>

<p>Potential test users for our pilot project, please contact ...</p>

<h2>Get Involved with the Talking-Points Project</h2>

<p>We still have a need for programmers on our development team, please contact the head of development ...</p>