<h3>We are a group of students motivated to help the blind/visually impaired people
learn about their surroundings!</h3>

<p>Talking Points is a collaborative student project at the University of Michigan
whose aim is to develop a prototype mobile urban orientation and contextual information
system for the visually impaired as well as sighted people. Our research objective was
based on a conceptualization of an urban orientation system, which reveals that an
individual's walking journey could be enhanced by providing contextual information
about points-of-interest (POIs) along their route.
<strong><%= link_to 'Learn more >', about_path %></strong></p>


<% content_for :below_columns do %>

<div id="featured_locations" class="ui-helper-clearfix">
  <%= render :partial => 'locations/front_page' %>
</div>

<% end %>