<h1>Talking-Points in the News</h1>

<p>Talking-Points was featured in ...</p>

<object width="600" height="477"><param name="movie" value="http://www.youtube.com/v/pU3uiOkjZ48&hl=en_US&fs=1&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/pU3uiOkjZ48&hl=en_US&fs=1&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="600" height="477"></embed></object>
