<h1>The Talking-Points Team</h1>

<h2>Development Team</h2>

<ul>
	<li>Clint Newsom</li>
	<li>Jakob Hilden</li>
	<li>Peter Kretschman</li>
	<li>Jordan Washburn</li>
	<li>Cory Kaufman</li>
	<li>Zhenan Hong</li>
</ul>

<h2>User Experience Team</h2>

<ul>
  <li>Eunice Shin</li>
  <li>Sonali Mishra</li>
  <li>Jane Leibrock</li>
  <li>Rayoung Yang</li>
  <li>...</li>
</ul>

<h2>Faculty Advisors</h2>

<ul>
  <li>Mark w. Newman</li>
  <li>James Knox</li>
  <li>...</li>
</ul>

<h2>Project Alumni</h2>

<ul>
  <li>Jason Stewart, Co-Founder</li>
  <li>Sarah Baumann, Co-Founder</li>
  <li>Michelle Escobar, Co-Founder</li>
  <li>Kumud Bihani, Co-Founder</li>
  <li>Donggun "Travis" Yoo</li>
	<li>Josh Rychlinski</li>
	<li>Sanghyuk Koh</li>
	<li>Andres Montejo</li>
	<li>Dan Marano</li>
</ul>